<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>The Semantic Grid System | Fluid Example</title>
    
    <!-- Stylesheets -->
    <!--
    <link rel="stylesheet" href="responsive.less" type="text/less" media="screen" />
      //to compile less to css:
      //(which you should do eventually for production)
      //(and may be useful when chrome was not started correctly)
      //make sure you have npm
      //which npm
      //if you don't have it, install node
      //http://nodejs.org/download/
      //(sudo apt-get install npm)
      //
      //then install less for node:
      //sudo npm install -g less
      //
      //lessc style.less > ../css/style.css
      //
      //may need to reference nodejs instead of just node on xubuntu
      //sudo vi /usr/local/bin/lessc
    -->

    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen" />
    
    <!-- Scripts -->
    <!--
    <script src="../../js/less-1.1.3.min.js" type="text/javascript"></script>
    -->
    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    
    
  </head>
  <body>
    
    <!-- Header -->
    <header id="top">
      <h1><a href="http://semantic.gs/">The Semantic Grid System</a></h1>
    </header>
    
    <!-- Main Body -->
    <article id="maincolumn">
      <h2>Main</h2>

*2013.03.22 11:17:18 <br>
often find myself searching for the simplest way to manage layouts on a page<br>
<br>
usually start with a simple 2 column layout in CSS...<br>
something like:<br>
<br>
http://stackoverflow.com/questions/1964297/split-div-into-2-columns-using-css<br>
<br>
or <br>
<br>
http://stackoverflow.com/questions/5645986/two-column-layout-using-divs<br>
<br>
but it's usually not quite what I'm looking for. <br>
<br>
which leads me back to the Semantic Grid System:<br>
http://semantic.gs/<br>
<br>
Had found this previously [2012.08.30 05:35:14] (grids, responsive_web_design).  Tried to incorporate it into what is now web-sass folder, but that folder grew cluttered. <br>
<br>
this has been imported locally to:<br>
less/grid.less<br>
<br>
with an example at:<br>
less/responsive.less<br>

    </article>
    
    <!-- Sidebar -->
    <section id="sidebar">
      <h2>Sidebar</h2>
    </section>
    
  </body>
</html>
